<div class="govuk-width-container">
  <main class="govuk-main-wrapper" id="main-content" role="main">
    <%= govuk_button_link_to 'New Test', search_commodities_path(search_type: search_type) %>

    <% if flash[:error] %>
      <div class="govuk-error-summary">
        <h2 class="govuk-error-summary__title">There was a problem</h2>
        <div class="govuk-error-summary__body">
          <p><%= flash[:error] %></p>
        </div>
      </div>
    <% end %>



    <%= govuk_form_for @search_commodity, method: :post, url: search_commodities_path do |form| %>
      <div class="govuk-grid-row">
        <div class="">
          <% if search_type == "interactive" %>
            <h1 class="govuk-heading-xl">Concept A - Search for a commodity</h1>
          <% elsif search_type == "vector" %>
            <h1 class="govuk-heading-xl">Concept B - Search for a commodity</h1>
          <% end %>

          <p class="govuk-body">
            When you search, include:
          </p>

          <%= govuk_list [
            'the type of product',
            'what the product is used for',
            'the materials used to make it',
            'the way its packaged',
          ], type: :bullet %>

          <%= form.govuk_text_field :query, label: nil, hint: { text: 'Enter the description of the goods or commodity code' } %>
          <%= questions_for(search_type, form) %>
          <%= form.hidden_field :search_type, value: search_type %>
          <%= form.hidden_field :expanded_query %>


          <%= form.govuk_submit 'Search for commodity' %>
        </div>
      </div>
    <% end %>
  </main>
</div>
